<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.AdiumPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>27F</string>
	<key>NSPrincipalClass</key>
	<string>QSAdiumSource</string>
	<key>QSActions</key>
	<dict>
		<key>actionClass</key>
		<string>QSAdiumActionProvider</string>
		<key>actionSelector</key>
		<string>performActionOnObject:</string>
		<key>directTypes</key>
		<array>
			<string>QSAdiumType</string>
		</array>
		<key>icon</key>
		<string>ToolbarAdvanced</string>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Internet</string>
			<string>Communication</string>
		</array>
		<key>description</key>
		<string>One-line summary for this plug-in</string>
		<key>extendedDescription</key>
		<string>HTML formatted documentation for this plug-in.</string>
		<key>icon</key>
		<string>KEXT</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSAdiumActionProvider</key>
			<string>QSAdiumActionProvider</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>QSAdiumType</key>
			<string>QSAdiumSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSAdiumType</key>
			<string>QSAdiumSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSAdiumSource</key>
			<string>QSAdiumSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSAdiumPrefPaneTemplate</key>
			<dict>
				<key>class</key>
				<string>QSAdiumPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>QSAdium</string>
			</dict>
		</dict>
		<key>QSProxiesTemplate</key>
		<dict>
			<key>QSAdiumSomeProxy</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>QSAdium Proxy</string>
				<key>providerClass</key>
				<string>QSAdiumSource</string>
				<key>types</key>
				<array>
					<string>QSAdiumType</string>
				</array>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSAdiumType</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>QSAdium Object</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
