<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.AdiumPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>287</string>
	<key>QSActions</key>
	<dict>
		<key>QSAdiumSendMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdiumAction</string>
			<key>actionSelector</key>
			<string>sendMessage:to:</string>
			<key>directTypes</key>
			<array>
				<string>com.adiumX.adiumX.chat</string>
			</array>
			<key>icon</key>
			<string>AlertNoteIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Send Instant Message…</string>
			<key>precedence</key>
			<real>2</real>
			<key>reverseArguments</key>
			<true/>
		</dict>
		<key>QSAdiumSendMessageTo</key>
		<dict>
			<key>actionClass</key>
			<string>QSAdiumAction</string>
			<key>actionSelector</key>
			<string>sendMessage:to:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>AlertNoteIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>com.adiumX.adiumX.contact</string>
				<string>com.adiumX.adiumX.chat</string>
			</array>
			<key>name</key>
			<string>Send Instant Message to…</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Internet</string>
			<string>Communication</string>
		</array>
		<key>description</key>
		<string>Browse Adium contacts and send messages</string>
		<key>extendedDescription</key>
		<string>HTML formatted documentation for this plug-in.</string>
		<key>icon</key>
		<string>com.adiumX.adiumX</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSAdiumAction</key>
			<string>QSAdiumAction</string>
		</dict>
		<key>QSApplicationActions</key>
		<dict>
			<key>com.adiumX.adiumX</key>
			<dict>
				<key>QSAdiumSetStatusTo</key>
				<dict>
					<key>actionClass</key>
					<string>QSAdiumAction</string>
					<key>actionSelector</key>
					<string>setStatus:to:</string>
					<key>argumentCount</key>
					<integer>2</integer>
					<key>directTypes</key>
					<array>
						<string>NSFileNamesPboardType</string>
					</array>
					<key>icon</key>
					<string>AdiumContactsIcon</string>
					<key>indirectOptional</key>
					<false/>
					<key>indirectTypes</key>
					<array>
						<string>com.adiumX.adiumX.status</string>
					</array>
					<key>name</key>
					<string>Set Status to…</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.adiumX.adiumX</key>
			<string>QSAdiumSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSAdiumBroswer</key>
			<string>QSAdiumSource</string>
			<key>com.adiumX.adiumX.account</key>
			<string>QSAdiumSource</string>
			<key>com.adiumX.adiumX.contact</key>
			<string>QSAdiumSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSAdiumSource</key>
			<string>QSAdiumSource</string>
		</dict>
		<key>QSPreferencePanesTemplate</key>
		<dict>
			<key>QSAdiumPrefPaneTemplate</key>
			<dict>
				<key>class</key>
				<string>QSAdiumPrefPane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>QSAdium</string>
			</dict>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSAdiumActiveChat</key>
			<dict>
				<key>icon</key>
				<string>AdiumChatsIcon</string>
				<key>name</key>
				<string>Active Chat (Adium)</string>
				<key>providerClass</key>
				<string>QSAdiumSource</string>
				<key>types</key>
				<array>
					<string>com.adiumX.adiumX.chat</string>
				</array>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>com.adiumX.adiumX.account</key>
			<dict>
				<key>icon</key>
				<string>AdiumServicesIcon</string>
				<key>name</key>
				<string>Adium Account</string>
			</dict>
			<key>com.adiumX.adiumX.chat</key>
			<dict>
				<key>icon</key>
				<string>AdiumChatsIcon</string>
				<key>name</key>
				<string>Adium Chat</string>
			</dict>
			<key>com.adiumX.adiumX.contact</key>
			<dict>
				<key>icon</key>
				<string>AdiumDefaultIcon</string>
				<key>name</key>
				<string>Adium Contact</string>
			</dict>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>AdiumChatsIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.adiumX.adiumX</string>
			<key>resource</key>
			<string>AdiumMessageStyle.icns</string>
		</dict>
		<key>AdiumContactsIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.adiumX.adiumX</string>
			<key>resource</key>
			<string>AdiumStatusIcons.icns</string>
		</dict>
		<key>AdiumDefaultIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.adiumX.adiumX</string>
			<key>resource</key>
			<string>DefaultIcon.png</string>
		</dict>
		<key>AdiumServicesIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.adiumX.adiumX</string>
			<key>resource</key>
			<string>AdiumServiceIcons.icns</string>
		</dict>
		<key>AdiumStatusAvailable</key>
		<dict>
			<key>bundle</key>
			<string>com.adiumX.adiumX</string>
			<key>path</key>
			<string>Contents/Resources/Dock Icons/Adiumy Green.AdiumIcon/Awake.png</string>
		</dict>
		<key>AdiumStatusAway</key>
		<dict>
			<key>bundle</key>
			<string>com.adiumX.adiumX</string>
			<key>path</key>
			<string>Contents/Resources/Dock Icons/Adiumy Yellow.AdiumIcon/Asleep.png</string>
		</dict>
		<key>AdiumStatusHidden</key>
		<dict>
			<key>bundle</key>
			<string>com.adiumX.adiumX</string>
			<key>path</key>
			<string>Contents/Resources/Dock Icons/Adiumy Black.AdiumIcon/Invisible.png</string>
		</dict>
		<key>AdiumStatusOffline</key>
		<dict>
			<key>bundle</key>
			<string>com.adiumX.adiumX</string>
			<key>path</key>
			<string>Contents/Resources/Dock Icons/Adiumy Red.AdiumIcon/Asleep.png</string>
		</dict>
	</dict>
</dict>
</plist>
